/*--------My Framework Classes---------*/
.row {
	background: white;
	position: relative;
	font-size: 0;
}

.container {width: 900px;}

.offset-wd-1 {margin-left: 100px; }
.offset-wd-2 {margin-left: 200px; }
.offset-wd-3 {margin-left: 300px; }
.offset-wd-4 {margin-left: 400px; }
.offset-wd-5 {margin-left: 500px; }
.offset-wd-6 {margin-left: 600px; }
.offset-wd-7 {margin-left: 700px; }
.offset-wd-8 {margin-left: 800px; }
.offset-wd-9 {margin-left: 900px; }
.wd-1 {width: 100px;	box-sizing: border-box;}
.wd-2 {width: 200px;	box-sizing: border-box;}
.wd-3 {width: 300px;	box-sizing: border-box;}
.wd-4 {width: 400px;	box-sizing: border-box;}
.wd-5 {width: 500px;	box-sizing: border-box;}
.wd-6 {width: 600px;	box-sizing: border-box;}
.wd-7 {width: 700px;	box-sizing: border-box;}
.wd-8 {width: 800px;	box-sizing: border-box;}
.wd-9 {width: 900px;	box-sizing: border-box;}

.ht-1 {height: 20px;}
.ht-2 {height: 40px;}
.ht-3 {height: 60px;}
.ht-4 {height: 80px;}
/*-------------------------------------*/

/*--------------Utils------------------*/
.right-align	{text-align: right;}
.left-align		{text-align: left;}
.center-align	{text-align: center;}

.left 			{float: left;}
.right 			{float: right;}
.center 		{margin: 0px auto;}

.pink {background: pink;}
.grey {background: grey;}
.white {background: white;}

.block {display: inline-block;	font-size: 0px;   padding: 10px;}

.rm-btm-pd {padding-bottom: 0px !important;}
.rm-pd {padding: 5px 0px 0px !important;}

.bordered {border: 1px solid black;}
.no-bottom-border {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
/*-------------------------------------*/
